ion-card {
    margin-bottom: 20px;
  }
  
  ion-text {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
  }
  ion-img, img {
    width: 50%;
    height: auto;
    display: block;
    margin-bottom: 15px;
  }
  
  