ion-card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  ion-img {
    margin: 20px 0;
  }
  
  ion-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  